html,
body {
  font-family: 'Commissioner', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
}
header i {
  font-size: 1.5rem;
  font-weight: 400;
}
.item-search {
  padding-left: 1rem;
}
.item-search:focus-visible {
  border: 0;
  outline: none;
}
.item-edit {
  border: 0;
  outline: none;
}
.item-edit::-webkit-inner-spin-button {
  display: none;
}
input[type="search"]::-webkit-search-cancel-button {
  margin-left: 1rem;
  cursor: pointer;
}
.count-input {
  padding-left: 1rem;
}
.count-input:focus-visible {
  border: 0;
  outline: none;
}
.card {
  box-shadow: none;
  transition: all 0.5s;
  height: 390px;
}
.card:hover {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  transition: all 0.5s;
}
.main-nav {
  height: 60px;
}
main {
  padding-top: 60px;
}
.hover {
  box-shadow: none;
  transition: all 0.1s;
}
.hover:hover {
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  transition: all 0.1s;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #565e6d40;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f00000;
  border-radius: 3px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a00000ab;
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 0.75;
}
.dropdown-toggle::after {
  content: none;
}
ul.red > li {
  list-style: none;
}
ul.red > li::before {
  content: 'â—';
  position: relative;
  display: block;
  max-width: 0;
  max-height: 0;
  left: -20px;
  color: #f00000;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}
.card-img-top > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 220px;
}
a.card-title {
  font-weight: 500;
}
.preloader {
  display: flex;
  background-color: #f4f6f9;
  height: 100vh;
  width: 100%;
  transition: height 0.3s linear;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}

